@{
    ViewBag.Title = "Enterprise Application Development (CSF12M)";
}

<h1 class="myriad-pro-font"><a href="/Teacher/Class">@ViewBag.Title</a></h1>
<hr />
<h3 class="myriad-pro-font">Students <small>(total 23)</small></h3>
<ul>
    <li><a class="myriad-pro-font tab" href="/Teacher/EnrollStudents">Enroll Student<small>(s)</small></a></li>
    <li><a class="myriad-pro-font tab" href="/Teacher/EnrolledStudents">See all Enrolled Students</a></li>
</ul>

<hr />
<h3 class="myriad-pro-font">Quizzes <small>(total 7)</small></h3>
<ul>
    <li><a class="myriad-pro-font tab" href="/Teacher/ScheduleQuiz">Schedule a Quiz</a></li>
    <li><a class="myriad-pro-font tab" href="/Teacher/QuizzesResult">See All Quizzes Result</a></li>
</ul>
<hr />
<h3 class="myriad-pro-font">Assignments <small>(total 7)</small></h3>
<ul>
    <li><a class="myriad-pro-font tab" href="/Teacher/GiveAssignment">Give an Assignment</a></li>
</ul>
<hr />
<h3 class="myriad-pro-font">Announcements <small>(total 7)</small></h3>
<ul>
    <li><a class="myriad-pro-font tab" href="/Teacher/MakeAnnouncement">Make an Announcement</a></li>
</ul>
<hr />
<h3 class="myriad-pro-font">Discussions <small>(total 7)</small></h3>
<ul>
    <li><a class="myriad-pro-font tab" href="/Teacher/StartDiscussion">Start a Discussion</a></li>
</ul>