
@{
    ViewBag.Title = "Enrolled Students - Enterprise Application Development";
}

<h1 class="myriad-pro-font"><a href="/Teacher/Class">Enterprise Application Development (CSF12)</a></h1>
<hr />
<h3 class="myriad-pro-font">All Enrolled Students</h3>
<table class="table table-striped table-condensed table-hover myriad-pro-font">
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Email</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Muhammad Ahmad</td>
        <td>bcsf12m041@pucit.edu.pk</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Muhammad Ahmad</td>
        <td>bcsf12m041@pucit.edu.pk</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Muhammad Ahmad</td>
        <td>bcsf12m041@pucit.edu.pk</td>
    </tr>
    <tr>
        <td>4</td>
        <td>Muhammad Ahmad</td>
        <td>bcsf12m041@pucit.edu.pk</td>
    </tr>
    <tr>
        <td>5</td>
        <td>Muhammad Ahmad</td>
        <td>bcsf12m041@pucit.edu.pk</td>
    </tr>
    <tr>
        <td>6</td>
        <td>Muhammad Ahmad</td>
        <td>bcsf12m041@pucit.edu.pk</td>
    </tr>
    <tr>
        <td>7</td>
        <td>Muhammad Ahmad</td>
        <td>bcsf12m041@pucit.edu.pk</td>
    </tr>
    <tr>
        <td>8</td>
        <td>Muhammad Ahmad</td>
        <td>bcsf12m041@pucit.edu.pk</td>
    </tr>
    <tr>
        <td>9</td>
        <td>Muhammad Ahmad</td>
        <td>bcsf12m041@pucit.edu.pk</td>
    </tr>
    <tr>
        <td>10</td>
        <td>Muhammad Ahmad</td>
        <td>bcsf12m041@pucit.edu.pk</td>
    </tr>
</table>
