@{
    ViewBag.Title = "Home";
}

@{
    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
}

<h1 class="myriad-pro-font">Active Classes</h1>
<a class="myriad-pro-font tab" href="/Teacher/AddNewClass">Add a new Class</a>
<hr />
<ul class="myriad-pro-font">
    <li>
        <h3><a href="/Teacher/Class">Enterprise Application Development (CSF12M)</a></h3>
        <p class="tab">
            Total Students Enrolled: 35<br />
            Total Quizzes Conducted: 4<br />
            Total Assignments Taken: 2<br />
            Total Announcements Made: 8<br />
            Total Discussions: 30
        </p>
    </li>
    <hr />
    <li>
        <h3><a href="/Teacher/Class">Internet Programming (CSF12M)</a></h3>
        <p class="tab">
            Total Students Enrolled: 35<br />
            Total Quizzes Conducted: 4<br />
            Total Assignments Taken: 2<br />
            Total Announcements Made: 8<br />
            Total Discussions: 30
        </p>
    </li>
    <hr />

</ul>

<h1 class="myriad-pro-font">Inactive Classes</h1>
<hr />
<ul class="myriad-pro-font">
    <li>
        <h3><a href="/Teacher/Class">System Programming (CSF12M)</a></h3>
        <p class="tab">
            Total Students Enrolled: 35<br />
            Total Quizzes Conducted: 4<br />
            Total Assignments Taken: 2<br />
            Total Announcements Made: 8<br />
            Total Discussions: 30
        </p>
    </li>
    <hr />
    <li>
        <h3><a href="/Teacher/Class">Operating Systems (CSF12M)</a></h3>
        <p class="tab">
            Total Students Enrolled: 35<br />
            Total Quizzes Conducted: 4<br />
            Total Assignments Taken: 2<br />
            Total Announcements Made: 8<br />
            Total Discussions: 30
        </p>
    </li>
    <hr />
</ul>