@{
    ViewBag.Title = "Make Announcement - Enterprise Application Development (CSF12)";
}

<h1 class="myriad-pro-font"><a href="/Home/Class">Enterprise Application Development (CSF12)</a></h1>
<hr />
<br />
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="myriad-pro-font tab">Make an Announcement</h3>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" method="post" action="#">
            <div class="row tab">
                <div class="form-group col-sm-4 tab">
                    <label for="title" class="myriad-pro-font">Title</label>
                    <input class="form-control myriad-pro-font" placeholder="Announcement Title" name="title" type="text" />
                </div>
            </div>
            <div class="row tab">
                <div class="form-group">
                    <label for="announcementbody" style="margin-left:15px;" class="myriad-pro-font">Announcement Body</label>
                    <textarea class="form-control" style="width:84.5%;margin-left:15px" name="announcementbody" id="announcementbody" placeholder="Announcement Body" rows="5"></textarea>
                </div>
            </div>
            <button class="btn btn-default myriad-pro-font tab" type="submit">Announce</button>
        </form>
    </div>
</div>