
@{
    ViewBag.Title = "Schedule Quiz - Enterprise Application Development";
}
<h1 class="myriad-pro-font"><a href="/Teacher/Class">Enterprise Application Development (CSF12)</a></h1>
<hr />
<h3 class="myriad-pro-font">Schedule a New Quiz</h3>
<hr />
<br />
<form class="form-horizontal myriad-pro-font">
    <div class="row tab">
        <div class="form-group col-sm-4">
            <label for="totalquestions">Total Questions</label>
            <input type="text" class="form-control" name="totalquestions" id="idtotalquestions" />
        </div>
        <button class="btn btn-default set-total-questions-btn" id="totalquestionsbtn" type="button">Proceed</button>
    </div>

    <div id="idform">
    </div>
</form>
<script src="~/Scripts/ScheduleQuiz.js"></script>