@{
    ViewBag.Title = "Start Discussion - Enterprise Application Development (CSF12)";
}

<h1 class="myriad-pro-font"><a href="/Teacher/Class">Enterprise Application Development (CSF12)</a></h1>
<hr />
<br />
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="myriad-pro-font tab">Start Discussion</h3>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" method="post" action="#">
            <div class="row tab">
                <div class="form-group col-sm-4 tab">
                    <label for="title" class="myriad-pro-font">Discussion Title</label>
                    <input class="form-control myriad-pro-font" placeholder="Discussion Title" name="title" type="text" />
                </div>
            </div>
            <div class="row tab">
                <div class="form-group">
                    <label for="discussionbody" style="margin-left:15px;" class="myriad-pro-font">Discussion Body</label>
                    <textarea class="form-control" style="width:84.5%;margin-left:15px" name="discussionbody" id="discussionbody" placeholder="Discussion Body" rows="5"></textarea>
                </div>
            </div>
            <button class="btn btn-default myriad-pro-font tab" type="submit">Start Discussion</button>
        </form>
    </div>
</div>