
@{
    ViewBag.Title = "Recover your Password";
}

<div class="container">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="heading myriad-pro-font">Forgot your Password?</h1>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" method="post" action="#">
                    <p class="center myriad-pro-font font-big">Enter your username below and we will send <br />you a link to reset your password</p>
                    <div class="text-input align-input inner-addon left-addon">
                        <i class="glyphicon glyphicon-user"></i>
                        <input type="text" name="user" placeholder="Username" class="form-control" required />
                    </div>
                    <br />
                    <div class="center">
                        <button type="submit" class="btn btn-primary btn-lg align-input">Send Password Reset Instructions</button>
                    </div>
                    <br />
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
    </div>

</div>
