
@{
    ViewBag.Title = "Reset your Password";
}

<div class="container">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="heading myriad-pro-font">Reset your Password</h1>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" method="post" action="#">

                    <div class="text-input align-input inner-addon left-addon">
                        <i class="glyphicon glyphicon-lock"></i>
                        <input type="password" name="pass" placeholder="New Password" class="form-control" required />
                    </div>

                    <div class="text-input align-input inner-addon left-addon">
                        <i class="glyphicon glyphicon-lock"></i>
                        <input type="password" name="repass" placeholder="Re-Enter New Password" class="form-control" required />
                    </div>

                    <br />
                    <div class="center">
                        <button type="submit" class="btn btn-primary btn-lg align-input">Reset Password</button>
                    </div>
                    <br />
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
    </div>
</div>